// See http://github.com/dsimard/ready.js for more information
{
  src : "./src",
  dest : "./minified", // the destination of your minified files
  compiledExtension : "min", // extension of the minified file
  keepCompiled : true, // if should keep the minified files
  aggregateTo : "jskata.js", // If a string is specified, all the .js will be aggregated to this file in the config.dest      
}
