body {
	margin-top: 1.0em;
	background-color: #065caa;
  font-family: "Helvetica,Arial,FreeSans";
	color: #ffffff;
	background-image:url(http://a1.twimg.com/profile_background_images/95999758/12282029421954838746wealthy_person_with_glasses3.svg.hi.png);
	background-repeat:no-repeat;
  background-attachment:fixed;
}
#container {
  margin: 0 auto;
  width: 700px;
}
h1 { font-size: 3.8em; color: #f9a355; margin-bottom: 3px; }
h1 .small { font-size: 0.4em; }
h1 a { text-decoration: none }
h2 { font-size: 1.5em; color: #f9a355; }
h3 { text-align: center; color: #f9a355; }
a { color: #f9a355; }
.description { font-size: 1.2em; margin-bottom: 30px; margin-top: 30px; font-style: italic;}
.download { float: right; }
pre { background: #000; color: #fff; padding: 15px;}
hr { border: 0; width: 80%; border-bottom: 1px solid #aaa}
.footer { text-align:center; padding-top:30px; font-style: italic; }
